<div class='container'>
  <h1><%= @guide.name %></h1>
  <p><%= @guide.explanation %></p>
  <a href='https://www.google.co.nz/?gws_rd=ssl#q=activerecord+<%= @guide.topic.name %>+<%= @guide.name %>' target='_blank'>Get More Information</a>
  <p>Created <%= @guide.created_at %> Updated <%= @guide.updated_at %></p> 
</div>