<% if session[:user_id] %>
  <h2>Welcome, <%=Contributor.find(session[:user_id]).name %></h2>
  <form action='/log_out' method ='post'>
    <input type='submit' id='submit' value='logout'>
  </form>

  <form action='/new_guide' method ='get'>
    <input type='submit' id='submit' value='add thing'>
  </form>
  <a href="/new_guide">Add thing</a>

<% else %>

  <div class = "log_in">
    <h2>Sign in,  Friend!</h2>
    <form action='/log_in' method='post'>
      <label for='user_name'>User name</label>
      <input type='text' id='user_name' name='log_in[user_name]'>
      <label for='password'>Password</label>
      <input type='password' id='password' name='log_in[password]'>
      <input type='submit' id='submit' value = 'Do it!'>
    </form>
  </div>

<a href="/sign_up">
  <div class="sign_up_button">
    Become a contributor!
  </div>
</a>

<% end %>

<% if @error %>
  <div class= "error">
    <h3>Error!</h3>
    <p><%=@error%></p>
  </div>
<% end %>

<div class='container'>
  <form action='/guide/query' method='post'>
    <input type='text' name='guide_query' placeholder='Type your search'>
    <input type='submit' value='Go'>
  </form>

  <h2>Active Record</h2>
  <% @all_topics.each do |topic| %>
    <h3><%= topic.name %></h3>
    <% topic.guides.each do |guide| %>
      <ul>
        <li><a href='/guide/<%= guide.name %>'><%= guide.name %></a></li>
      </ul>
    <% end %>
  <% end %>
</div>
